@import url('https://font.googleapis.com/css2?family=Poppins&dispaly=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #e3f2fd;
}
.wrapper{
    padding: 35px;
    border-radius: 20px;
    background: #141414;
}
